.nav {
 width: 400px;
   
}

.nav_list {
    padding: 0;
    display: flex;
    flex-direction: column;
   }

.nav_item {
    text-transform: uppercase;
    color: black;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    transition: letter-spacing 0.5s ease;
}

.nav_item:hover {
    letter-spacing: 10px;

}

.active {
    border-left: 10px solid green;
}

.nav_category {
    list-style: none;
    padding: 0 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav_category_item {
    font-weight: normal;
  transition: font-weight .3s ease;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  color: black;

}


.nav_category_item:hover {
    font-weight: 800;
      }