.img_wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
   
}

.product_img {
    max-width: 100px;
    max-height: 250px;
   margin: auto;
    border-radius: 10px;
    padding: 8px;
}

.product_title {
    font-size: 18px;
}

.product_price {
font-size: 16px;
text-align: right;
}

.product {
    width: 200px;
    height: 400px;
   

}