.img_wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
   
} 

.product_img {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    border-radius: 10px;
    padding: 8px;
}

.product_title {
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: bold;
   text-align: right;
}

.product_price {
    margin: 5px 0;
    font-size: 22px;
    text-align: right;
}

.product {
  max-width: 300px;
  max-height: 550px;
  
}